  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="" class="logo"><img src="{{ 'assets/site/img/logo/logow_edited.png'|theme }}" alt="" class=""></a>

      <nav class="nav-menu d-none d-lg-block ml-auto" style="">

        <ul class="">
          <li class="active"><a href="">Home</a></li>
          <li><a href="">About</a></li>


          <li class="drop-down"><a href="">Services</a>
            <ul>
              <li class=""><a href="">Trade Hub</a>
                <!-- <ul>
                    <li><a href="#">Cross Border Trade</a></li>
                    <li><a href="#">Digital Trade Content</a></li>
                    <li><a href="#">International Trade</a></li>
                    <li><a href="#">Customs</a></li>
                    <li><a href="#">Trade Disputes Resolution</a></li>
                  </ul> -->
              </li>
             <li class=""><a href="">Capacity Building and Training</a>
                <!-- <ul>
                    <li><a href="#">Capacity Building for Business Women</a></li>
                    <li><a href="#">Digital Trade Regulatory Intergration</a></li>
                    <li><a href="#">Trade Regulations and Policies</a></li>
                    <li><a href="#">Advocacy and Networking</a></li>
                  </ul> -->
              </li>
                <li class=""><a href="">Policy, Advocacy and Networking</a>
                <!-- <ul>
                    <li><a href="#">Drafting and development of policies</a></li>
                    <li><a href="#">Development of Communication Strategy</a></li>
                    <li><a href="#">Development business & strategic plans</a></li>
                    <li><a href="#">Digital Media management</a></li>
                    <li><a href="#">Development of business proposal</a></li>
                </ul> -->
              </li>
              <li class=""><a href="">Research and Innovation</a>
                <!-- <ul>
                    <li><a href="#">Employee Work load Analysis</a></li>
                    <li><a href="#">Job Evaluation</a></li>
                    <li><a href="#">New Product Testing</a></li>
                    <li><a href="#">Competitor Analysis</a></li>
                  </ul> -->
              </li>


            </ul>
          </li>

		  <li class="drop-down"><a href="">Media</a>
		    <ul>
              <li class=""><a href="">Latest News</a>
                <!-- <ul>
                    <li><a href="#">Cross Border Trade</a></li>
                    <li><a href="#">Digital Trade Content</a></li>
                    <li><a href="#">International Trade</a></li>
                    <li><a href="#">Customs</a></li>
                    <li><a href="#">Trade Disputes Resolution</a></li>
                  </ul> -->
              </li>
             <li class=""><a href="">Gallery</a>
                <!-- <ul>
                    <li><a href="#">Capacity Building for Business Women</a></li>
                    <li><a href="#">Digital Trade Regulatory Intergration</a></li>
                    <li><a href="#">Trade Regulations and Policies</a></li>
                    <li><a href="#">Advocacy and Networking</a></li>
                  </ul> -->
              </li>
                <li class=""><a href="">Video</a>
                <!-- <ul>
                    <li><a href="#">Drafting and development of policies</a></li>
                    <li><a href="#">Development of Communication Strategy</a></li>
                    <li><a href="#">Development business & strategic plans</a></li>
                    <li><a href="#">Digital Media management</a></li>
                    <li><a href="#">Development of business proposal</a></li>
                </ul> -->
              </li>
              <li class=""><a href="">Newsletter</a>
                <!-- <ul>
                    <li><a href="#">Employee Work load Analysis</a></li>
                    <li><a href="#">Job Evaluation</a></li>
                    <li><a href="#">New Product Testing</a></li>
                    <li><a href="#">Competitor Analysis</a></li>
                  </ul> -->
              </li>

            </ul>
		  </li>
          <li><a href="">Blog</a></li>
          <li><a href="">Experts</a></li>
          <li><a href="">Contact Us</a></li>

        </ul>

      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
